body {
  font-family: sans-serif;
  background-color: black;
	width: 100%;
	height: auto;
				

}




button {
  	position: fixed;
	top: 230px;
	left: 390px;
	border-radius: 25px;
	width:30px;
	height:30px;
	background-color: transparent;
	font-family: courier;
	color: #EFE9E9;
	  border: 2px solid #EFE9E9; 
	line-height: 12px;
	font-size: 14px;
  text-align: center;
  text-decoration: none;
 	letter-spacing: 0.1rem;
	z-index: 6;
	cursor: pointer;
}

button:hover {
  background-color: none; 
  color: #FBFB63;
}

h1 {
  
	 position: fixed;
	top:200px;
	left: 300px;
	font-family: courier;
		color: white;
			line-height: 12px;
			font-size: 12px;
		
			 letter-spacing: 0.1rem;
	z-index: -1;
}

.screen {
	
  background-color: #e1eef6;
  position: fixed;
  top: 160px;;
  left: 340px;
  width: 60%;
  height: 90%;
  transform: translate(-40%, -40%);
  content: " ";
  overflow: hidden;
  background: #16222A;
  background: -webkit-linear-gradient(to left, #16222A, #3A6073);
  background: linear-gradient(to left, #16222A, #3A6073);
  background-size: cover;
  background-image: url("circle2.gif");
  color: #e1eef6;
	z-index: 4;
}